on early-init
   export EXTERNAL_STORAGE  /mnt/sdcard
   export SECONDARY_STORAGE /mnt/external_sd

   mkdir /mnt         0775 system system
   mkdir /mnt/sdcard  0755 system system
   mkdir /mnt/external_sd    0775 system system
   mkdir /mnt/usbdisk 0775 system system
   mkdir /efs         0771 radio  system
   mkdir /preload     0771 system system

# for backwards compatibility
   symlink /mnt/sdcard /sdcard
   symlink /mnt/emmc /external_sd

on fs
   mount ext4 /dev/block/mmcblk0p13 /system ro wait noatime
   mount ext4 /dev/block/mmcblk0p14 /data nosuid nodev wait noatime
   mount ext4 /dev/block/mmcblk0p16 /cache nosuid nodev wait noatime
